## Segmenting and Clustering Neighborhoods in Toronto -- GeoSpatial

In [1]:
import pandas as pd

In [2]:
latlong = pd.read_csv("http://cocl.us/Geospatial_data/") 

latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
#Rename "Postal Code" with "PostalCode"
latlong.columns = ['PostalCode','Latitude','Longitude']
latlong.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Make sure there are 103 postal codes as we determined from previous assignment

In [5]:
latlong.shape[0]

103

#### We use the code from the Notebook SCN-Toronto-Scrape-Wiki.ipynb to get the postcode, borough and neigborhood (previous assignment

In [6]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url, header=0,keep_default_na=False) 
table_df = table[0]
table_df.columns = ['PostalCode','Borough','Neighborhood']
table_df = table_df.query('Borough != "Not assigned"').reset_index(drop=True)
table_df1=table_df.groupby('PostalCode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
table_df1.loc[table_df1['Neighborhood'] == 'Not assigned', 'Neighborhood' ] = table_df1['Borough']
table_df1.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Port Union, Highland Creek, Rouge Hill
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

#### Now, we merge the two tables with latlong on the right

In [7]:
table_df2 = pd.merge(left=table_df1, right=latlong, on="PostalCode", how="right")
table_df2.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Port Union, Highland Creek, Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476